In [1]:
%matplotlib inline

import random

import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import statsmodels.formula.api as smf

sns.set_context("talk")

# Anscombe's quartet

Anscombe's quartet comprises of four datasets, and is rather famous. Why? You'll find out in this exercise.

In [2]:
anascombe = pd.read_csv('data/anscombe.csv')
anascombe.head()

  dataset     x     y
0       I  10.0  8.04
1       I   8.0  6.95
2       I  13.0  7.58
3       I   9.0  8.81
4       I  11.0  8.33

## Part 1

For each of the four datasets...
### mean and variance
Compute the mean and variance of both **x** and **y**

In [3]:
x = anascombe["x"]
y = anascombe["y"]
print("----------------- mean ----------------------")
print(anascombe.groupby("dataset").mean())
print("--------------- variance --------------------")
print(anascombe.groupby("dataset").var())

----------------- mean ----------------------
           x         y
dataset
I        9.0  7.500909
II       9.0  7.500909
III      9.0  7.500000
IV       9.0  7.500909
--------------- variance --------------------
            x         y
dataset
I        11.0  4.127269
II       11.0  4.127629
III      11.0  4.122620
IV       11.0  4.123249

 ### correlation coefficient 
 Compute the correlation coefficient between **x** and **y**

In [4]:
anascombe.groupby("dataset").corr()

                  x         y
dataset
I       x  1.000000  0.816421
        y  0.816421  1.000000
II      x  1.000000  0.816237
        y  0.816237  1.000000
III     x  1.000000  0.816287
        y  0.816287  1.000000
IV      x  1.000000  0.816521
        y  0.816521  1.000000

### linear regression 
Compute the linear regression line: $y = \beta_0 + \beta_1 x + \epsilon$ (hint: use statsmodels and look at the Statsmodels notebook)

In [7]:
lin_model = smf.ols("y ~ x", anascombe).fit()
lin_model.summary()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
Name: dataset, dtype: bool

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.666
Model:                            OLS   Adj. R-squared:                  0.659
Method:                 Least Squares   F-statistic:                     83.92
Date:                Wed, 13 Jun 2018   Prob (F-statistic):           1.44e-11
Time:                        17:42:08   Log-Likelihood:                -67.358
No. Observations:                  44   AIC:                             138.7
Df Residuals:                      42   BIC:                             142.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.0013      0.521      5.765      0.000       1.951       4.052
x              0.4999      0.055      9.161      0.000       0.390       0.610
==============================================================================
Omnibus:                        1.513   Durbin-Watson:                   2.327
Prob(Omnibus):                  0.469   Jarque-Bera (JB):                0.896
Skew:                           0.339   Prob(JB):                        0.639
Kurtosis:                       3.167   Cond. No.                         29.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
f, ax = plt.subplots()
ax.plot(x, y, 'o', label="data")
ax.plot(x, lin_model.fittedvalues, 'r--.', label="OLS")

## Part 2

Using Seaborn, visualize all four datasets. 

*hint: use sns.FacetGrid combined with plt.scatter*

In [ ]:
g = sns.FacetGrid(anascombe, col="dataset")
g.map(plt.scatter, "x", "y")